{% extends 'base.html' %}
{% load static %}

{% block title %}Excluir Sonho{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="main-container">
        <h1>Excluir Sonho</h1>
        <p>Você tem certeza que deseja excluir o sonho: <strong>{{ sonho.titulo }}</strong>?</p>

        <form method="POST" class="delete-form">
            {% csrf_token %}
            <button type="submit" class="delete-button button-index">Confirmar Exclusão</button>
        </form>
        <a href="{% url 'index' %}" class="cancel-link">Cancelar</a>
    </div>
{% endblock %}
