<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
    <link rel="stylesheet" href="{% static 'core/login.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="main-container">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Entrar</button>
        </form>
        <p>Não tem uma conta? <a href="{% url 'register' %}">Registre-se aqui</a></p>
    </div>
</body>
</html>
