.btn-logout {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #007bff; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border: 2px solid transparent; /* Borda invisível para manter o layout consistente */
    border-radius: 2.5px; /* Bordas arredondadas */
    padding: 5px 9px; /* Espaçamento interno */
    font-size: 14px; /* Tamanho da fonte */
    font-weight: bold; /* Fonte em negrito */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    text-decoration: none; /* Remove o sublinhado */
    transition: background-color 0.3s, color 0.3s; /* Transições suaves para hover */
    z-index: 1000; /* Garante que o botão fique acima de outros elementos */
}

.btn-logout:hover {
    color: #f8f9fa; /* Um tom de cinza muito claro para o texto */
    background-color: #007bff; /* Azul vibrante para o fundo no hover */
    border: 2px solid #0056b3; /* Borda azul escura para destaque no hover */
}

.logout-form {
    display: none; /* Não mostrar o formulário */
}
