{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/base.css' %}">
    <title>{% block title %}Meu Site{% endblock %}</title>
    {% block css %}{% endblock %}
</head>
<body>
    {% if user.is_authenticated %}
        <form id="logout-form" class="logout-form" action="{% url 'logout' %}" method="post" style="display: none; visibility: hidden; height: 0; width: 0; overflow: hidden; position: absolute;">
            {% csrf_token %}
        </form>
        <button id="logout-button" type="button" class="btn-logout">Logout</button>
    {% endif %}

    <!-- Contêiner das Nuvens -->
    <div class="cloud-container">
        <div class="cloud cloud-1" style="background-image: url('{% static "core/images/nuvem.png" %}');"></div>
        <div class="cloud cloud-2" style="background-image: url('{% static "core/images/nuvem.png" %}');"></div>
        <div class="cloud cloud-3" style="background-image: url('{% static "core/images/nuvem.png" %}');"></div>
        <div class="cloud cloud-4" style="background-image: url('{% static "core/images/nuvem.png" %}');"></div>
        <div class="cloud cloud-5" style="background-image: url('{% static "core/images/nuvem.png" %}');"></div>
    </div>

    {% block content %}
    <!-- Conteúdo das páginas individuais será injetado aqui -->
    {% endblock %}

    <script>
        document.getElementById('logout-button').addEventListener('click', function() {
            document.getElementById('logout-form').submit();
        });
    </script>
</body>
</html>
